.home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  &--wrap {
    p {
      text-align: center;
    }
  }
  &--title {
    font-size: 3rem; 
    font-size: 9em;
    line-height: 150px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin: 0;
    span {
      color: $dark-red;
    }
    &:before {
      content:"Build your";
      position: absolute;
      top: -30px;
      text-transform: capitalize;
      color: $dark-red;
      font-size: 30px;
      letter-spacing: 5px;
      line-height: 30px;

    }
  }
  figure {
    margin-top: -10px;
    img {
      max-width: 900px;
    }
  }
}