.home {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &--wrap {
    p {
      text-align: center;
    }
  }
  &--title { 
    font-size: 9em;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin: 0;
    span {
      color: $dark-red;
      font-weight: 400;
    }
    &:before {
      content:"Build your";
      position: absolute;
      top: -10px;
      text-transform: capitalize;
      color: $dark-red;
      font-size: 30px;
      letter-spacing: 5px;
    }
  }
  figure {
    margin-top: -60px;
    margin-bottom: 0;
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .home {
    &--title {
      font-size: 65px;
    }
  }
}
@media (max-width: 575px) {
  .home {
    &--wrap {
      margin: 30px 0;
    }
    &--title {
      font-size: 80px;
    }
  }
}